body {
  margin: 0;
  font-family: Arial;
  background: #f4f6f8;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 30px;
  background: #f4f6f8;
  transition: 0.5s;
  text-align: center;
}

h1 {
  margin: 0 0 20px 0;
  text-align: center;
}


.container.expired {
  background: red;
}

.alert {
  color: white;
  font-size: 32px;
  font-weight: bold;
  animation: blink 1s infinite;
}

@keyframes blink {
  50% {
    opacity: 0.3;
  }
}

.card {
  background: white;
  padding: 20px;
  margin: 20px auto;
  width: 300px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

button {
  padding: 10px 20px;
  border: none;
  background: #007bff;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

input {
  padding: 10px;
  margin-top: 10px;
}

.map-link {
  display: inline-block;
  margin-top: 8px;
  color: #4a90e2;
  text-decoration: none;
  font-weight: bold;
}

.map-link:hover {
  text-decoration: underline;
}

.timestamp {
  font-size: 0.8rem;
  color: #888;
  margin-top: 4px;
}

.find-button {
  margin-top: 10px;
  padding: 12px 24px;
  font-size: 1rem;
  background-color: #e74c3c;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
}

.find-button:hover {
  background-color: #c0392b;
}

.find-button:disabled {
  background-color: #aaa;
  cursor: not-allowed;
}

.inhaler-result {
  margin-top: 14px;
}

.map-link {
  display: inline-block;
  margin-top: 8px;
  color: #4a90e2;
  text-decoration: none;
  font-weight: bold;
}

.map-link:hover {
  text-decoration: underline;
}

.timestamp {
  font-size: 0.8rem;
  color: #888;
  margin-top: 4px;
}